@font-face {
	font-display: swap;
	font-family: 'Roboto Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../../../../fonts/roboto-regular.ttf');
}

@font-face {
	font-display: swap;
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 900;
	src: url('../../../../fonts/roboto-flex-variable.ttf') format('woff2');
}
