html, body, .container {
	height: 100%;
	margin: 0;
}

.text {
	font-size: 44vw;
	font-weight: 700;
	font-family: inter, sans-serif;
	user-select: none;
}

.container {
	background: linear-gradient(359deg, #000000, #000000, #0600ff, #000000, #ff0000, #000000, #000000);
	background-size: 800% 800%;
	animation: AnimationName 10s ease infinite;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@keyframes AnimationName {
	0% {
		background-position: 50% 0
	}

	100% {
		background-position: 50% 100%
	}
}